body {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
    margin: auto;
    height: fit-content;
    width: fit-content;
    padding: 20px;
    
}
div.column {
    padding: 2px;
}
.Aprovado {
    color: green;
    font-weight: bold;
}
.Reprovado {
    color: rgb(255, 0, 0);
    font-weight: bold;
}
