h1 {
    text-align: center;
}
#container {
    position: absolute;
    padding: 20px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    height: fit-content;
    width: fit-content;
    box-sizing: border-box;
}
div.row {
    padding: 5px;
}
#main {
    padding: 20px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    height: fit-content;
    width: fit-content;
    box-sizing: border-box;
    border: 1px solid black;
}
#answerBox {
    padding: 20px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    height: fit-content;
    width: fit-content;
    box-sizing: border-box;
}